$base-font-size     : 1.5em;
$base-text-color    : #502e78;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-back-color    : #b7b6ca;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-large: 960px; 

/* Fonts */
$font-header2: 'Shadows Into Light', cursive;
$font-header3:  'Indie Flower', cursive;
$font-para: 'Lora', serif;